:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --accent: #0179ff;
  --background: #ffffff;
  --primary: #f9f9f9;
  --text:#141d2e 
  color: #141d2e;

  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[data-theme='dark'] {
  --background: #141d2e;
  --primary: #1f2b49;
  --text: #fffff;
  color: #ffffff;
}

html {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    --background: #f9f9f9;
    --primary: #ffffff;
  }
} */


body {
  margin: 0;
  min-height: 100vh;
  background-color: var(--background);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#root {
  max-width: 1280px;
  padding: 2rem;
  text-align: center;
  display: flex;
  justify-content: cetner;
  align-items: center;
}

main {
  display: grid;
  grid-template-rows: 5% 10% 85%;
  gap: 2rem;
  width: 100%;
  justify-items: center;
  width: 80%;
  margin:auto
}

main > * {
  width: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  font-size: 1.5rem;
}

.theme-icon{
  cursor: pointer;
}

.search-form {
  display: flex;
  border-radius: 1rem;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
  background-color: var(--primary);
  border: 1px solid transparent;
  transition: border 0.3s ease-in;
  padding: .5rem;
}

.search-form button {
  border: none;
  border-bottom: 6px solid rgba(100, 100, 111, 0.5);
  padding: 0.75rem 1.5rem;
  border-radius: 0.75rem;
  font-size: 1.15rem;
  cursor: pointer;
  background-color: var(--accent);
  color: #fff;
  transition: 0.3s ease;
}

.search-form button:hover{
  border-bottom:2px solid rgba(100,100, 111, 0.5);
}

.search-input {
  width: 80%;
  border-radius: 2rem;
  border: none;
  font-size: 1.25rem;
  padding: 1rem;
  color: var(--text);
  background-color: var(--primary);
}

.search-input:focus {
  outline: none;
}

.search-form:has(.search-input:focus) {
  border: 1px solid var(--accent);
}

.search-form,
.user-info {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.user-info {
  display: grid;
  grid-template-columns: 1fr 3fr;
  background-color: var(--primary);
  border-radius: 1rem;
  padding: 1rem;
  max-height: 900px;

}


@media only screen and (max-width: 600px) {
  .user-info{
    display: flex;
    flex-direction:column;
    flex-wrap:wrap;

  }

  .search-input{
    font-size: 1rem;
    width: 100%;
  }

  .search-form button{
    padding: 1rem .5rem;
    flex-wrap:nowrap;
  }

  .search-form svg{
    display:none;
    
  }

  main{
    width: 100%;
    margin:0;
    padding: 0;
  }

  #root{
    padding: 1rem;
  }

  
}
.user-info__not-loaded > * {
  opacity: 0;
}

.user-info__loaded > * {
  opacity: 1;
  transition: opacity 1.5s ease-in-out;
}
.user-info__avatar img {
  max-width: 66%;
  border-radius: 50%;
  padding: 1rem;
}

.user-info__data {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  flex-direction: column;
  justify-content: space-around;
}

.user-info__data-first-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: start;
}

.user-info__data-names {
  display: flex;
  flex-wrap: wrap;
  text-align: left;
  flex-direction: column;
}

.user-info__data-username {
  font-size: 1rem;
  font-weight: 500;
  color: var(--accent);
}

.user-info__data-joined {
  margin-top: 0.5rem;
}

.user-info__data-bio {
  text-align: left;
  margin-bottom: 1rem;
}

.user-info__data-stats {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: var(--background);
  padding: 1.5rem;
  border-radius: 1rem;
}

.stats-title {
  font-size: 0.7rem;
  font-weight: 500;
}

.stats-data {
  font-size: 1.33rem;
  font-weight: bold;
}

.user-info__data--last-row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50%, 250px));
  gap: 2rem;
  padding: 1rem;
  justify-content: center;
  align-items: center;
}

.user-info__data--last-row > div {
  font-size: 1rem;
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
